<app-header></app-header>

<main>

    <!--begin home section -->
    <section class="home-section" id="home">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row align-items-center">

                <!--begin col-md-6-->
                <div class="col-md-6">

                    <h1>Discover The Wold's Most Advanced Online Tool <i class="bi bi-chat-left-quote green"></i></h1>

                    <p class="hero-text">Track and analyze all your data in one central location.</p>

                    <!--begin newsletter_form_box -->
                    <div class="newsletter_form_box">

                        <!--begin success_box -->
                        <p class="newsletter_success_box" style="display:none;">We received your message and you'll hear
                            from us soon. Thank You!</p>
                        <!--end success_box -->

                        <!--begin newsletter-form -->
                        <form id="newsletter-form" class="newsletter-form"
                            action="https://demo.epic-webdesign.com/tf-smart/v1/php/newsletter.php" method="post">

                            <input id="email_newsletter" type="email" name="nf_email"
                                placeholder="Enter Your Email Address">

                            <input type="submit" value="GET STARTED!" id="submit-button-newsletter">

                        </form>
                        <!--end newsletter-form -->

                        <p class="newsletter-form-terms">
                            <span><i class="bi bi-check2"></i> Free 30-Day Trial</span>
                            <span><i class="bi bi-check2"></i> Money Back Guarantee</span>
                        </p>

                    </div>
                    <!--end newsletter_form_box -->

                </div>
                <!--end col-md-6-->

                <!--begin col-md-5-->
                <div class="col-md-6">

                    <img src="assets/ui-design.png" class="hero-image width-100 margin-top-20" alt="pic">

                </div>
                <!--end col-md-5-->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>
    <!--end home section -->

    <!--begin section-grey -->
    <section class="section-white small-padding-top">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-12 -->
                <div class="col-md-12 text-center padding-bottom-20">

                    <h3>Trusted By Over 9,000+ Businesses</h3>

                </div>
                <!--end col-md-12 -->

            </div>
            <!--end row -->

            <!--begin row -->
            <div class="row justify-content-center">

                <!--begin col-md-1 -->
                <div class="col-md-1"></div>
                <!--end col-md-1 -->

                <!--begin col-md-2 -->
                <div class="col-md-2 col-xs-6">

                    <div class="our-partners">

                        <img src="assets/partner1.png" class="width-100" alt="pic">

                    </div>

                </div>
                <!--end col-md-2 -->

                <!--begin col-md-2 -->
                <div class="col-md-2 col-xs-6">

                    <div class="our-partners">

                        <img src="assets/partner2.png" class="width-100" alt="pic">

                    </div>

                </div>
                <!--end col-md-2 -->

                <!--begin col-md-2 -->
                <div class="col-md-2 col-xs-6">

                    <div class="our-partners">

                        <img src="assets/partner3.png" class="width-100" alt="pic">

                    </div>

                </div>
                <!--end col-md-2 -->

                <!--begin col-md-2 -->
                <div class="col-md-2 col-xs-6">

                    <div class="our-partners">

                        <img src="assets/partner4.png" class="width-100" alt="pic">

                    </div>

                </div>
                <!--end col-md-2 -->

                <!--begin col-md-2 -->
                <div class="col-md-2 col-xs-6">

                    <div class="our-partners">

                        <img src="assets/partner5.png" class="width-100" alt="pic">

                    </div>

                </div>
                <!--end col-md-2 -->

                <!--begin col-md-1 -->
                <div class="col-md-1 d-none d-md-block"></div>
                <!--end col-md-1 -->

                <!--begin col-md-2 -->
                <div class="col-md-2 col-xs-6">

                    <div class="our-partners">

                        <img src="assets/partner6.png" class="width-100" alt="pic">

                    </div>

                </div>
                <!--end col-md-2 -->

                <!--begin col-md-2 -->
                <div class="col-md-2 col-xs-6">

                    <div class="our-partners">

                        <img src="assets/partner7.png" class="width-100" alt="pic">

                    </div>

                </div>
                <!--end col-md-2 -->

                <!--begin col-md-2 -->
                <div class="col-md-2 col-xs-6">

                    <div class="our-partners">

                        <img src="assets/partner9.png" class="width-100" alt="pic">

                    </div>

                </div>
                <!--end col-md-2 -->

                <!--begin col-md-2 -->
                <div class="col-md-2 col-xs-6">

                    <div class="our-partners">

                        <img src="assets/partner8.png" class="width-100" alt="pic">

                    </div>

                </div>
                <!--end col-md-2 -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>
    <!--end section-grey -->

    <!--begin footer -->
    <div class="footer">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-7 -->
                <div class="col-md-7">

                    <p>© 2021 <span class="template-name">Smart</span>. Designed by <a
                            href="https://1.envato.market/rkB1y" target="_blank">Epic-Themes</a></p>

                </div>
                <!--end col-md-7 -->

                <!--begin col-md-5 -->
                <div class="col-md-5">

                    <!--begin footer_social -->
                    <ul class="footer_social">

                        <li>Follw us:</li>

                        <li><a href="#" class="twitter"><i class="bi bi-twitter"></i></a></li>

                        <li><a href="#" class="instagram"><i class="bi bi-instagram"></i></a></li>

                        <li><a href="#" class="whatsapp"><i class="bi bi-whatsapp"></i></a></li>

                        <li><a href="#" class="google"><i class="bi bi-google"></i></a></li>

                        <li><a href="#" class="github"><i class="bi bi-github"></i></a></li>

                    </ul>
                    <!--end footer_social -->

                </div>
                <!--end col-md-5 -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </div>
    <!--end footer -->

</main>