<app-header></app-header>
<main>

    <!--begin features section -->
    <section class="section-white medium-padding-bottom" id="features">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-12-->
                <div class="col-md-12 text-center">

                    <h2>Amazing Features</h2>

                </div>
                <!--end col-md-12 -->

            </div>
            <!--end row -->

            <!--begin row -->
            <div class="row">

                <!--begin col-md-4-->
                <div class="col-md-4">

                    <div class="feature-box light-green">

                        <i class="bi bi-gem"></i>

                        <div class="feature-box-text">

                            <h4>Support 24/7</h4>

                            <p>Utise wisi enim nets venias, quis tation ullamcorper nets lobotis nisle consequat.</p>

                        </div>

                    </div>

                </div>
                <!--end col-md-4 -->

                <!--begin col-md-4-->
                <div class="col-md-4">

                    <div class="feature-box light-blue">

                        <i class="bi bi-people"></i>

                        <div class="feature-box-text">

                            <h4>User Friendly</h4>

                            <p>Utise wisi enim nets venias, quis tation ullamcorper nets lobotis nisle consequat.</p>

                        </div>

                    </div>

                </div>
                <!--end col-md-4 -->

                <!--begin col-md 4-->
                <div class="col-md-4">

                    <div class="feature-box orange">

                        <i class="bi bi-bell"></i>

                        <div class="feature-box-text">

                            <h4>Notifications</h4>

                            <p>Utise wisi enim nets venias, quis tation ullamcorper nets lobotis nisle consequat.</p>

                        </div>

                    </div>

                </div>
                <!--end col-md-4 -->

            </div>
            <!--end row -->

            <!--begin row -->
            <div class="row">

                <!--begin col-md-4-->
                <div class="col-md-4">

                    <div class="feature-box dark-blue">

                        <i class="bi bi-gear"></i>

                        <div class="feature-box-text">

                            <h4>Accesibility</h4>

                            <p>Utise wisi enim nets venias, quis tation ullamcorper nets lobotis nisle consequat.</p>

                        </div>

                    </div>

                </div>
                <!--end col-md-4 -->

                <!--begin col-md-4-->
                <div class="col-md-4">

                    <div class="feature-box light-red">

                        <i class="bi bi-cash-stack"></i>

                        <div class="feature-box-text">

                            <h4>Cost Control</h4>

                            <p>Utise wisi enim nets venias, quis tation ullamcorper nets lobotis nisle consequat.</p>

                        </div>

                    </div>

                </div>
                <!--end col-md-4 -->

                <!--begin col-md-4-->
                <div class="col-md-4">

                    <div class="feature-box dark-green">

                        <i class="bi bi-chat-left-text"></i>

                        <div class="feature-box-text">

                            <h4>Chat With Friends</h4>

                            <p>Utise wisi enim nets venias, quis tation ullamcorper nets lobotis nisle consequat.</p>

                        </div>

                    </div>

                </div>
                <!--end col-md-4 -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>
    <!--end features section -->

    <!--begin fun-facts -->
    <section class="section-grey medium-padding-bottom">

        <!--begin container-->
        <div class="container">

            <!--begin row-->
            <div class="row">

                <!--begin col md 7 -->
                <div class="col-md-7 mx-auto margin-bottom-10 text-center">

                    <h3>Fun Facts About Our Agency</h3>

                </div>
                <!--end col md 7-->

            </div>
            <!--end row-->

            <!--begin row-->
            <div class="row">

                <!--begin fun-facts-box -->
                <div class="col-md-2 offset-md-1 fun-facts-box blue text-center">

                    <i class="bi bi-gift-fill"></i>

                    <p class="fun-facts-title"><span class="facts-numbers">1050+</span><br>Projects Completed</p>

                </div>
                <!--end fun-facts-box -->

                <!--begin fun-facts-box -->
                <div class="col-md-2 fun-facts-box red text-center">

                    <i class="bi bi-heart-fill"></i>

                    <p class="fun-facts-title"><span class="facts-numbers">217k</span><br>Happy Clients</p>

                </div>
                <!--end fun-facts-box -->

                <!--begin fun-facts-box -->
                <div class="col-md-2 fun-facts-box green text-center">

                    <i class="bi bi-award-fill"></i>

                    <p class="fun-facts-title"><span class="facts-numbers">1210</span><br>Design Awards</p>

                </div>
                <!--end fun-facts-box -->

                <!--begin fun-facts-box -->
                <div class="col-md-2 fun-facts-box red text-center">

                    <i class="bi bi-basket3-fill"></i>

                    <p class="fun-facts-title"><span class="facts-numbers">217k</span><br>Happy Clients</p>

                </div>
                <!--end fun-facts-box -->

                <!--begin fun-facts-box -->
                <div class="col-md-2 fun-facts-box yellow text-center">

                    <i class="bi bi-bell-fill"></i>

                    <p class="fun-facts-title"><span class="facts-numbers">2137</span><br>Line Of Codes</p>

                </div>
                <!--end fun-facts-box -->

            </div>
            <!--end row-->

        </div>
        <!--end container-->

    </section>
    <!--end fun-facts -->

</main>